<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find simulation)/worlds/cpp.world"/>
	</include>
	<!-- Get the Husky Bot installed locally -->
	<include file="$(find husky_gazebo)/launch/spawn_husky.launch">
		<arg name="laser_enabled" value="true"/>
	</include>

</launch>